@{
    ViewBag.Title = "Login";
}
    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 50px auto;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
    <script>
        window.setTimeout(function() {
    $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove(); 
    });
}, 2000);
    </script>

    <div class="container">

        <div class="login-form">
            <form action="/Home/Login" method="post">
                <h2 class="text-center">Iniciar Sesión</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" required="required" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" required="required" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn bg-success btn-success  btn-block">Iniciar</button>
                </div>
                @{
                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        //message tiene un valor
                        <div class="alert alert-danger text-center" role="alert">@ViewBag.Message</div>
                    }
                }

            </form>
            <p class="text-center"><a href="/logins/Create">Crear cuenta</a></p>
        </div>
       

    </div>
        


